# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Exclude Flutter build artifacts
.dart_tool/flutter_build/

# IntelliJ related
.idea/
*.iml

# VS Code related
.vscode/

# Mac related
.DS_Store

# Windows related
*.exe
*.dll
*.bat
*.pdb

# Linux related
*.so

# Android related
*.apk
*.aar
*.jks
/local.properties

# iOS related
*.xcworkspace
ios/Pods/

# Web related
web/.dart_tool/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

.vercel
